@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IScheduleService ScheduleService
@inject IPanelistService PanelistService

<div class="d-flex flex-column box pa-1 mr-4 mb-4 gap-0 shadow">
    <span<b>@Schedule.Text</b></span>
    <span>@Schedule.Start?.ToString("hh:mm tt") - @Schedule.End?.ToString("hh:mm tt")</span>
   <hr>
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
            <MudChip Color="Color.Info" Size="Size.Small">@Extensions.GetEnumDescription(@Schedule.DefenseType)</MudChip>
            <MudChip Color="Color.Warning" Size="Size.Small">@Extensions.GetEnumDescription(@Schedule.Status)</MudChip>
        </div>
        <div>
            <MudIconButton OnClick="RemoveSchedule" Size="Size.Small" Icon="@Icons.Material.Filled.Delete"/>
            <MudButton OnClick="()=> OpenScheduleDialog(Schedule)" Size="Size.Small" Variant="MudBlazor.Variant.Filled">View</MudButton>
        </div>
    </div>
    <span>Members</span>
    <div class="d-flex flex-row justify-content-between align-items-center" style="height: 55px;">
        <MudAvatarGroup Max="6" Spacing="2" MaxColor="Color.Primary">
            @foreach(MembersModel member in Group.Members)
            {
            <MudTooltip Text="@member.Student.Name">
                @if(member.Student.ProfilePicture != null)
                {
                    if (member.Student.ProfilePicture.Count() == 0) {
                        <MudAvatar Image="img/blank_profile.png" />
                    } else {
                        <MudAvatar Image='@($"data:image/png;base64, {Convert.ToBase64String(member.Student.ProfilePicture)}")' />
                    }
                } else {
                    <MudAvatar Class='mt-4' Image="img/blank_profile.png" Size='Size.Large' />
                }
            </MudTooltip>
            }
        </MudAvatarGroup>
    </div>
    <span>Panels</span>
    <div class="d-flex flex-row justify-content-between align-items-center" style="height: 55px;">
        @if(Schedule.Panels.Count > 0)
        {
            <MudAvatarGroup Max="6" Spacing="2" MaxColor="Color.Primary">
                @if(Schedule.Panels != null)
                {
                    @foreach(PanelistModel panel in Schedule.Panels)
                    {
                    @* <MudBadge OnClick="() => Remove(panel)" Color="Color.Error" Icon="@Icons.Material.Filled.Remove" Overlap="true" Bordered="true"> *@
                            <MudTooltip Text="@panel.Panel.Name">
                            @if (panel.Panel.ProfilePicture.Count() == 0) {
                                <MudAvatar Image="img/blank_profile.png"/>
                            } else {
                                <MudAvatar Class='mr-4' Image='@($"data:image/png;base64, {Convert.ToBase64String(panel.Panel.ProfilePicture)}")' />
                            }
                            </MudTooltip>
                    @* </MudBadge> *@
                    }
                }
            </MudAvatarGroup>
        } else {
            <span><b>NO PANELS</b></span>
        }
        <MudTooltip Text="Add Panels">
             <MudIconButton OnClick="()=> AddPanels(Group.GroupId)" Icon="@Icons.Material.Filled.Add" aria-label="add" Color="Color.Info" Size="Size.Small"></MudIconButton> 
        </MudTooltip>
    </div>
</div>
@code
{
    [Parameter] public ScheduleModel Schedule { get; set; }
    [Parameter] public List<GroupModel> ListGroups { get; set; }
    [Parameter] public EventCallback OnRemovePanel { get; set; }
    [Parameter] public EventCallback<int> OnRemoveSchedule { get; set; }
    private List<PanelistModel> Panels = new();
    private GroupModel Group { get; set; }

    protected override async Task OnParametersSetAsync()
    {
       Group = ListGroups.FirstOrDefault( e => e.GroupId == Schedule.GroupId) ?? new();
      // Extensions.NewtonsoftLog(Schedule.Panels);
    }
    private async Task Remove(PanelistModel model)
    {
        Task t = PanelistService.DeletePanelistModel(model.PanelistId);
        await t;
        if(t.Status == TaskStatus.RanToCompletion)
        {
            await OnRemovePanel.InvokeAsync();
        }
    }
    private async Task AddPanels(int groupId)
    {
        if(GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Student)
        {
            Extensions.ShowAlert("Your are not allowed to add a panel in a schedule." , MudBlazor.Variant.Filled , Snackbar , Severity.Success);
            return;
        }
        var options = new MudBlazor.DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true,DisableBackdropClick = true };
        var param = new DialogParameters();
        param.Add("GroupId", groupId);
        param.Add("Schedule", Schedule);
        var dialog =  await DialogService.Show<AddPanelsDialogs>("Add Panels", param, options).Result;
        if(!dialog.Cancelled)
        {
            await OnRemovePanel.InvokeAsync();
        }
    }
    private async Task OpenScheduleDialog(ScheduleModel schedule)
    {
        if(GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Student)
        {
            Extensions.ShowAlert("Your are not allowed to view a schedule." , MudBlazor.Variant.Filled , Snackbar , Severity.Success);
            return;
        }
        var options = new MudBlazor.DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true,DisableBackdropClick = true };
        var param = new DialogParameters();
        param.Add("Schedule", schedule);
        param.Add("DateStart", schedule.Start);
        param.Add("DateEnd", schedule.End);
        var dialog =  await DialogService.Show<ScheduleDialog>(schedule.GroupId == 0 ? "Add Schedule" : "Edit Schedule", param, options).Result;
        if(!dialog.Cancelled)
        {   
            await OnRemovePanel.InvokeAsync();
            Extensions.ShowAlert("Schedule has been saved." , MudBlazor.Variant.Filled , Snackbar , Severity.Success);
        }
    }
    private async Task RemoveSchedule()
    {
        Task t = ScheduleService.DeleteScheduleModel(Schedule.ScheduleId);
        await t;
        if(t.Status == TaskStatus.RanToCompletion)
        {
            await OnRemoveSchedule.InvokeAsync(Schedule.ScheduleId);
        }
    }
}
<style>
    .box
    {
        @* height: 150px; *@
        border-radius: 5px;
        border-left: 8px solid #05173D;
    }
    @* .mud-badge
    {
        z-index: 2;
        margin-top: 20px;
        margin-right: -2px;
        cursor: pointer;
    } *@
    @* .mud-badge.mud-badge-top.right.mud-badge-overlap
    {
        inset: auto auto calc(100% - 17px) calc(100% - 30px) !important;
    } *@
</style>