<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Paneling System</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/dashboard" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Dashboard"></MudIcon> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/thecaps" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.FolderCopy"></MudIcon> TheCAPS
                </NavLink>
            </div>
            @* <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/userfiles" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.FilePresent"></MudIcon> User Files
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/list" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.List"></MudIcon> List
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/capstone" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.DriveFileMove"></MudIcon> Capstone
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/grades" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Grade"></MudIcon> Grades
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/group" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Groups"></MudIcon> Groups
                </NavLink>
            </div>
             *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/schedule" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.DateRange"></MudIcon> Schedule
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create/account">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.AccountBox"></MudIcon> Accounts
                </NavLink>
            </div>
        }
        else if (GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Instructor)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/dashboard" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Dashboard"></MudIcon> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/thecaps" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.FolderCopy"></MudIcon> TheCAPS
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/grades" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Grade"></MudIcon> Grades
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/schedule" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.DateRange"></MudIcon> Schedule
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/group" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Groups"></MudIcon> Groups
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create/account">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.AccountBox"></MudIcon> Accounts
                </NavLink>
            </div>
        }
        else if (GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Panelist_Adviser) {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/dashboard" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Dashboard"></MudIcon> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/thecaps" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.FolderCopy"></MudIcon> TheCAPS
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/schedule" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.DateRange"></MudIcon> Schedule
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create/account">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.AccountBox"></MudIcon> Accounts
                </NavLink>
            </div>
        }
        else if (GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Student)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/dashboard" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Dashboard"></MudIcon> Dashboard
                </NavLink>
            </div>
            @* <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/capstone" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.DriveFileMove"></MudIcon> Capstone
                </NavLink>
            </div> *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/grades" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Grade"></MudIcon> Grades
                </NavLink>
            </div>
            @*  <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/group" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.Groups"></MudIcon> @(GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Student ? "My Groups" : "Groups")
                </NavLink>
            </div> *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="u/schedule" Match="NavLinkMatch.All">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.DateRange"></MudIcon> Schedule
                </NavLink>
            </div>
        } 
       @*  @if(GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Admin || GlobalClass.CurrentUserAccount.AccountType == Enums.AccountType.Instructor)
        {
             <div class="nav-item px-3">
                <NavLink class="nav-link" href="create/account">
                    <MudIcon Class="mr-4" Icon="@Icons.Material.Filled.AccountBox"></MudIcon> Accounts
                </NavLink>
            </div>
        } *@
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
